.sidebar {
  color: white;
  position: fixed;
  top: 70px; 
  left: 0;
  width: 260px;
  height: calc(100vh - 70px);
  background-color: #000000;
  padding: 20px 10px;
  border-bottom: 1px solid #2a2a2a;
  overflow-y: auto;         
  scrollbar-width: thin;      
  scrollbar-color: #666 #222;  
}


  .main-side-bar {
    list-style: none;
    padding-bottom: 0px;
    border-bottom: 1px solid #2a2a2a;
    

  }

  .side-bar-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .side-bar-item:hover {
    background-color: #333d42;
  }

  .side-bar-item img,
  .side-bar-item i {
    width: 20px;
    height: 20px;
  }

  .side-bar-item span {
    font-size: 1rem;
  }


  /* ----------------------------------------channels--------- */

  .Ourteam-anchor{
    text-decoration: none;
    color: white;
  }


  .sidebar-section {
    margin-top: 30px;
    padding-top: 15px;
    border-bottom: 1px solid #2a2a2a;
    
  }
  
  .sidebar-heading {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   cursor: pointer;
  }
  
  .interested-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .interested-list.closed {
    max-height: 0;
    overflow: hidden;
  }
  
  .channel-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .channel-item:hover {
    background-color: #333d42;
  }
  
  .channel-avatar img {
    
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
     
      
     
     
     
  }
  
  
  .sidebar-section:last-of-type {
    border-bottom: 1px solid #2a2a2a;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
